---
title: "Confirm your email address"
preheader: "Please confirm your email address in order to activate your account"
bodyClass: bg-slate-50
---

<extends src="src/layouts/main.html">
  <block name="template">
    <table class="w-full font-sans">
      <tr>
        <td align="center" class="bg-slate-50">
          <table class="w-150 sm:w-full">
            <tr>
              <td class="p-12 sm:py-8 sm:px-6 text-center">
                <a href="https://maizzle.com">
                  <img src="https://i.ibb.co/qNsy65W/maizzle.png" width="70" alt="Maizzle" class="max-w-full align-middle [border:0]">
                </a>
              </td>
            </tr>
            <tr>
              <td align="center" class="sm:px-6">
                <table class="w-full">
                  <tr>
                    <td class="p-12 sm:px-6 bg-white text-slate-700 text-base text-left leading-6 rounded shadow-sm">
                      <p>
                        Hello, <raw>{{ prenom }} {{ nom }}</raw>
                      </p>
                      <p class="text-2xl sm:leading-8 text-black font-semibold m-0 mb-6">
                        <raw>{{ job }}</raw>
                      </p>
                      <p class="m-0 mb-6">
                        <raw>{{ presentation }}</raw>
                      </p>
                      <div class="leading-full">
                        <a
                          href="https://example.com"
                          class="inline-block py-3.5 px-4 rounded text-base font-semibold text-center [text-decoration:none] text-white bg-indigo-700 hover:bg-indigo-500"
                        >
                          <outlook>
                            <i class="tracking-6 -mso-font-width-full mso-text-raise-7.5">&#8202;</i>
                          </outlook>
                          <span class="mso-text-raise-4">Confirm email address &rarr;</span>
                          <outlook>
                            <i class="tracking-6 -mso-font-width-full">&#8202;</i>
                          </outlook>
                        </a>
                      </div>
                      <table class="w-full" role="separator">
                        <tr>
                          <td class="py-8">
                            <div class="bg-slate-200 h-px leading-px">&zwnj;</div>
                          </td>
                        </tr>
                      </table>
                      <p class="m-0 mb-4">
                        If you didn't sign up for Maizzle, you can safely ignore this email.
                      </p>
                      <p class="m-0 mb-4">
                        Thanks, <br />The Maizzle Team
                      </p>
                    </td>
                  </tr>
                  <tr role="separator">
                    <td class="h-12"></td>
                  </tr>
                  <tr>
                    <td class="text-center text-slate-600 text-xs px-6">
                      <p class="m-0 mb-4 uppercase">
                        Powered by Maizzle
                      </p>
                      <p class="m-0 italic">
                        The framework for rapid email prototyping
                      </p>
                      <p class="cursor-default">
                        <a href="https://maizzle.com/docs/" class="text-indigo-700 [text-decoration:none] hover:[text-decoration:underline]">Docs</a>
                        &bull;
                        <a href="https://github.com/maizzle" class="text-indigo-700 [text-decoration:none] hover:[text-decoration:underline]">Github</a>
                        &bull;
                        <a href="https://twitter.com/maizzlejs" class="text-indigo-700 [text-decoration:none] hover:[text-decoration:underline]">Twitter</a>
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
